@import "./responsive.scss";
/* latin */
@font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  src: local("Architects Daughter Regular"), local("ArchitectsDaughter-Regular"),
  url(https://fonts.gstatic.com/s/architectsdaughter/v10/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg4-7jA-U.woff2)
  format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
  font-display: swap;
}

/* vietnamese */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58m-xDwxUD2GF9Zc.woff)
  format("woff");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
  U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}

/* latin-ext */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58i-xDwxUD2GF9Zc.woff)
  format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
  U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}

/* latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-xDwxUD2GFw.woff)
  format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Quicksand", Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

main {
  position: relative;
  background-color: white;
  padding: 2em;
  margin: 0 auto;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}

@mixin responsive($font-size, $padding) {
  body {
    font-size: $font-size;
  }
  main {
    padding: $padding;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $font-size;
  }
}

@include media("<=sm") {
  @include responsive(150%, 2%);
}

@include media(">sm", "<=md") {
  @include responsive(120%, 5%);
}

@include media(">md", "<=lg") {
  @include responsive(110%, 2% 6%);
}

@include media(">lg") {
  @include responsive(125%, 3% 20%);
}

a {
  color: inherit;
}

pre {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  padding: 0.5rem 1rem;
  overflow-x: scroll;
  background-color: #454954;
  color: #FFFFFF;
}

pre {
  code {
    padding: 0;
  }
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  background-color: #454954;
  color: #FFFFFF;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}
